body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

/* styling menu icon */
.nav-menu {
  border: none;
  background-color: black;
  font-size: 1.5rem;
  color: white;
}

/* styling navbar links  */
.navbar-nav a {
  color: white;
  position: relative;
}

.navbar-nav a:hover {
  color: #fca61f;
}

.navbar-nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  top: 35px;
  position: absolute;
  background: #fca61f;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-nav a:hover:after {
  width: 100%;
  left: 0;
}

/* styling contact btn  */
.c-btn {
  border: none;
  background: #fca61f;
  color: #fff;
  font-size: 1.2rem;
}


/* Home Section Starts */
.home {
  background: linear-gradient(33deg, rgba(242, 242, 255, 1) 0%, rgb(216, 240, 250) 100%);
  padding: 30px 0 20px;
  text-align: center;
}

.homeinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
}

.home h2 {
  font-size: 2rem;
  line-height: 3rem;
  color: #3f396d;
}

.home h2 .c-orange {
  font-size: 1.8rem;
}

.c-orange {
  color: #3f396d;
  font-weight: 700;
  font-size: 3rem;
}

.home p {
  width: fit-content;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: black !important;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.h-btn {
  background: #6f34fe;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.75em 2em;
  border-radius: 50px;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.h-btn:hover {
  background: #8c5ce4;
  transform: translateY(-8px);
}

.link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fca61f;
  position: relative;
  transition: color 0.3s ease;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6f34fe;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover {
  color: #6f34fe;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home img {
  animation: floatimg 4s ease-in-out infinite;
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
}

@keyframes floatimg {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-24px);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .homeinfo {
    align-items: center;
    text-align: center;
  }

  .home h2 {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .home h2 .c-orange {
    font-size: 1.6rem;
  }

  .c-orange {
    font-size: 2.5rem;
  }

  .home p {
    font-size: 1rem;
    width: 90%;
    margin: 0 auto;
  }

  .h-btn {
    padding: 0.75em 1.5em;
    font-size: 1rem;
  }

  .link {
    font-size: 1rem;
  }

  .home img {
    max-width: 80%;
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home h2 {
    font-size: 2.2rem;
  }

  .home p {
    font-size: 1.1rem;
  }

  .home img {
    max-width: 80%;
  }

  .c-orange {
    font-size: 2.8rem;
  }
}

@media (max-width: 600px) {
  .home {
    padding: 20px 0;
  }

  .home h2 {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .home p {
    font-size: 1rem;
    width: 90%;
    margin: 0 auto;
  }

  .h-btn {
    padding: 0.7em 1.5em;
    font-size: 1rem;
  }

  .link {
    font-size: 1rem;
  }

  .home img {
    max-width: 90%;

    margin-top: 20px;
  }
}

/* Home Section End */




/* Personal Information section starts  */
.skill {
  background-color: rgb(249, 234, 234);
  padding: 1rem 0;
  overflow: hidden;
}

.progress-card {
  padding: 12% 10% 10% 15%;
  background: linear-gradient(33deg,
      rgb(49, 49, 253) 0%,
      rgb(252, 93, 93) 100%);
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 20px;
  transition: transform 0.6s;
}

.progress-card:hover {
  transform: scale(1.1);
}

.text {
  font-size: 1.2rem;
  font-weight: 500;
}

.heading p {
  font-size: 1.3rem;
}

.skill-with-progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.skill-with-progress .col-12 {
  flex: 1 1 100%;
}

.skill-with-progress .col-md-5 {
  flex: 1 1 calc(50% - 1rem);
}

.skill-with-progress .col-md-4 {
  flex: 1 1 calc(33.33% - 1rem);
}


.skill-with-progress .col-12,
.experience-section {
  border: 2px solid #202020;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
}

.skill-with-progress .col-12 h3,
.experience-section h3 {
  color: #3f396d;
  font-size: 1.2rem;
  font-weight: 600;
}

.skill-with-progress .col-12 .border,
.experience-section .border {
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.skill-with-progress .col-12 p,
.experience-section p {
  margin: 0;
  color: #666666;
  font-weight: bold;
}

.skill-with-progress .col-12 p span,
.experience-section p span {
  color: #333;
}


@media (max-width: 768px) {
  .skill-with-progress {
    padding: 0.5rem;
  }

  .skill-with-progress .col-md-5 {
    flex: 1 1 100%;
  }

  .skill-with-progress .col-md-4 {
    flex: 1 1 100%;
  }

  .skill-with-progress .col-12 h3,
  .experience-section h3 {
    font-size: 1rem;
  }

  .skill-with-progress .col-12 p,
  .experience-section p {
    font-size: 0.9rem;
  }

  .progress-card {
    padding: 8% 5% 8% 10%;
  }
}

@media (max-width: 576px) {

  .skill-with-progress .col-12 h3,
  .experience-section h3 {
    font-size: 0.9rem;
  }

  .skill-with-progress .col-12 p,
  .experience-section p {
    font-size: 0.8rem;
  }

  .progress-card {
    padding: 8% 5% 8% 5%;
  }
}

/* Personal Information section end  */

/* skill Responsive for small screens */
@media (max-width: 768px) {
  .heading p {
    font-size: 1rem;
  }

  .text {
    font-size: 1rem;
  }
}






/* portfolio section starts */
.portfolio {
  background: linear-gradient(33deg,
      rgb(92, 74, 255) 0%,
      rgb(248, 180, 125) 100%);
  padding-bottom: 20px;
}

#myBtnContainer {
  margin-bottom: 45px;
}

#myBtnContainer button {
  border: none;
  color: black;
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  margin: 0;
}

#myBtnContainer button:hover {
  color: #fca61f;
}

#myBtnContainer button:focus {
  outline: none;
}

.post .content h4 {
  font-size: 1rem;
  font-weight: 700;
}

.post .card {
  border: none;
}

/* portfolio section end */


/* styling back to top button start */
#btn-back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  font-size: 1.4rem;
  background-color: #ffffff;
  color: #000000;
  animation: pulse 3s infinite;
}

/* styling back to top button end */

/* footer section starts */
footer {
  background-color: #211e39;
}

footer .link-group a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: rgb(250, 82, 4);
  font-size: 1.1rem;
  margin-top: 1rem;
}

footer .link-group a:hover {
  color: #fca61f;
}

.social-links button {
  border: none;
  margin-right: 1rem;
  font-size: 1.2rem;
  background-color: #fff;
  padding: 14px 15px 10px 15px;
}

.social-links .dribble {
  color: #f33a7e;
}

.social-links button:hover {
  color: #fff;
  transform: translateY(-20px);
  transition-duration: 1s;
}

.social-links .dribble:hover {
  background-color: #f33a7e;
}

.social-links .whatsapp {
  color: #25d366;
}

.social-links .whatsapp:hover {
  background-color: #25d366;
}

.social-links .behance {
  color: #255afc;
}

.social-links .behance:hover {
  background-color: #255afc;
}



/* fotter */
.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100%;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  color: black;
}

.social-link i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover {
  transform: scale(1.1);
  background-color: #f0f0f0;
  color: #0077b5;
}